<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <typeAliases>
        <typeAlias type="lt.velykis.roberta.budget.app.account.Account" alias="Account"/>
    </typeAliases>
    <mappers>
        <mapper resource="maps/AccountMapper.xml"/>
    </mappers>
</configuration>
