<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head(~{::title})">
    <title>Add new transaction</title>
</head>

<body>
<div class="container">
    <h1>Add transaction</h1>


    <form action="#" th:action="@{/add}" th:object="${transaction}" method="post">

        <div class="form-group">
            <label for="accountId">Select account</label>
            <select class="form-control" th:classappend="${#fields.hasErrors('accountId')} ? 'is-invalid'"
                    th:field="${transaction.accountId}">
                <option selected th:value="${null}">Choose...</option>
                <option th:each="account : ${accounts}"
                        th:value="${account.getId()}"
                        th:text="${account.getName()}">
                    Andrius SEB
                </option>
            </select>
            <div th:if="${#fields.hasErrors('accountId')}"
                 class="invalid-feedback"
                 th:errors="*{accountId}"
            >Account Error
            </div>
        </div>


        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control"
                   th:classappend="${#fields.hasErrors('date')} ? 'is-invalid'"
                   th:field="*{date}"
                   placeholder="2015-02-21">
            <div th:if="${#fields.hasErrors('date')}"
                 class="invalid-feedback"
                 th:errors="*{date}"
            >Date Error
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' "
                   th:field="*{description}"
                   placeholder="Description">
            <div th:if="${#fields.hasErrors('date')}"
                 class="invalid-feedback"
                 th:errors="*{description}"
            >Description Error
            </div>

        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" step="0.01"
                   th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid'"
                   th:field="*{amount}"
                   placeholder="0.00">
            <div th:if="${#fields.hasErrors('amount')}"
                 class="invalid-feedback"
                 th:errors="*{amount}"
            >Amount Error
            </div>
        </div>

        <p><input class="btn btn-primary" type="submit" value="Add"/></p>
    </form>
</div>

<div th:insert="~{base :: js}"></div>

</body>
</html>
