<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>All transactions</title>
</head>

<body>

<div class="container">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <h1>All transactions</h1>
            </td>
            <td th:align="right">

                <form th:action="@{/transactions}" method="get">
                    <div class="form-group">
                        <select id="accountId" name="accountId">
                            <option th:value="${null}">All accounts</option>
                            <option th:each="account : ${accounts}"
                                    th:value="${account.getId()}"
                                    th:text="${account.getName()}"
                                    th:selected="${accountId == account.getId().toString()}">
                                Andrius SEB
                            </option>
                        </select>
                        <input class="btn btn-secondary btn-sm justify-content-end" type="submit" value="Filter"/>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th colspan="3" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td scope="row" th:text="${transactionStat.count}">1</td>
            <td th:text="${transaction.account.getName()}">Andriaus SEB</td>
            <td th:text="${transaction.date}">2019-01-05</td>
            <td th:text="${transaction.description}">A transaction</td>
            <td th:text="${#numbers.formatDecimal(transaction.amount, 1, 2)}">12.50</td>
            <td><a class="btn btn-primary"
                   th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}">Edit</a>
            </td>
            <td>
                <form th:action="@{/transactions/{transactionId}(transactionId=${transaction.id},delete=true)}"
                      method="post">
                    <p><input class="btn btn-danger" type="submit" value="Delete"/></p>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-right font-weight-bold">Total:</td>
            <td th:text="${#numbers.formatDecimal(totalAmount, 1, 2)}">12</td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <a class="btn btn-primary" th:href="@{/add}">Add</a>
    </table>

    <div th:insert="~{base :: js}"></div>

</body>
</html>
