<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head('All transactions')}">
    <title>All transactions111</title>
</head>

<body>

<div class="container">
    <h1>All transactions</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <th scope="row" th:text="${transactionStat.count}">1</th>
            <td th:text="${transaction.date}">2019-01-05</td>
            <td th:text="${transaction.description}">A transaction</td>
            <td th:text="${#numbers.formatDecimal(transaction.amount, 1, 2)}">12.50</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/add">Add</a>
</div>

<div th:insert="~{footer :: js}"></div>

</body>
</html>
